.introduction_text_1 {

    display: inherit;
    align-items: center;
    text-align: center;
    padding: 100px;
    margin: 100px;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    background: linear-gradient(226deg, #2fc3a2, #7867b0);
}

.space_1 {

    margin-bottom: 500px;

}

.dealer{
    color: #4c3c3c;
    font-size: 65px;
    text-align: center;
    margin-top: 100px;
    font-family: 'Merriweather', serif;
}

.ad {
    margin-top: 100px;
}

.dis_1{
    display: block;
}
.dis_4{
    display: block;
}

.about{

    display: inherit;
    align-items: center;
    text-align: center;
    padding: 100px;
    margin: 100px 0px;
    color: #4c3c3c;
    font-size: 40px;
    font-family: 'Merriweather', serif;

}

.list{
    list-style: none;
}

.services{
    padding-top: 30px;
}
.inputform{
    margin-top: 20px;
    padding-top: 20px;
}
form {
    margin: 60px auto;
    width: 850px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    font-family: 'Merriweather', serif;
}

label {
    display: block;
    margin: 5px;
    font-weight: bold;
} 

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
    font-family: 'Merriweather', serif;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
    font-family: 'Merriweather', serif;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Merriweather', serif;
    font-size: large;
}

input[type=submit]:hover {
    background-color: #45a049;
}